{% load bootstrap5 %}
<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

        <title>Notes Form</title>
    </head>
    <body>
        <div>
            <div class="text-center fw-bold p-5" style="justify-content: center;">
                <h1>SEND NOTES</h1>
                <h3>Send Notes to Your Friend</h3>
                <nav>
                    <ul style="display: flex; flex-direction: row; list-style: none; justify-content: center;">
                        <li style="padding-right: 2rem; padding-top: 1rem;">
                            <a href="/lab-4/" class="text-white btn btn-primary" role="button">
                                Notes Table
                            </a>
                        </li>
                       <li style="padding-top: 1rem;">
                            <a href="/lab-4/note-list" class="text-white btn btn-primary" role="button"> 
                                Notes Card
                            </a>
                       </li>  
                    </ul>
                </nav>
            </div>
            <div class="container px-5 card" style="width: 45%;">
                <form action="" method='POST' class="form">
                    {% csrf_token %}
                    <div class="mb-3 form-group m-3"> 
                        <label class="form-label">To</label>
                        <input class="form-control" name="to" id="to someone notes" required=True placeholder="To Whom the Notes">
                    </div>
                    <div class="mb-3 form-group m-3">
                        <label class="form-label">From</label>
                        <input class="form-control" name="From" id="from someone notes" required=True placeholder="From Whom the Notes">
                    </div>
                    <div class="mb-3 form-group m-3">
                        <label class="form-label">Title</label>
                        <input class="form-control" name="title" id="title message" required=True placeholder="Title of Your Notes">
                    </div>
                    <div class="mb-3 form-group m-3">
                        <label for="message text" class="form-label">Message</label>
                        <textarea name="message" required=True id="message notes" class="form-control" rows="5" placeholder="Write Message Here"></textarea>
                    </div>
                    <div class="mb-3 m-3 text-center">
                        <input type="submit" class="btn btn-primary">
                    </div>
                </form>
            </div>
        </div>
    </body>
</html>