{% load bootstrap5 %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <title>This is Note Page</title>
    </head>
    <body>
        <div>
            <div class="text-center fw-bold p-5" style="display: flex; flex-wrap: wrap; flex-direction: column;">
                <h1>TABLE OF NOTES</h1>
                <h3>This Page Contain Table of Notes</h3>
                <nav class="py-3">
                    <a href="/lab-4/add-note" class="text-white btn btn-primary" style="margin-right: 2rem;" role="button">
                        Add Notes
                    </a>
                    <a href="/lab-4/note-list" class="text-white btn btn-primary" role="button"> 
                        Notes Card
                    </a>
                </nav>
            </div>
        </div>
        <div class="px-5"> 
            <table class="table table-dark table-striped border border-dark rounded">
                <thead>
                    <tr>
                      <th scope="col">TO</th>
                      <th scope="col">FROM</th>
                      <th scope="col">TITLE</th>
                      <th scope="col">MESSAGE</th>
                    </tr>
                </thead>
                <tbody>
                    {% for i in notes%}
                        <div>
                            <tr>
                            <td>{{i.to}}</td>
                            <td>{{i.From}}</td>
                            <td>{{i.title}}</td>
                            <td>{{i.message}}</td>
                            </tr>
                        </div>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </body>
</html>