{% load bootstrap5 %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

        <title>NOTES CARD</title>
    </head>
    <body>
        <div>
            <div class="text-center fw-bold p-5">
                <h1>NOTES CARD</h1>
                <h3>Where Everything is About Card</h3>
                <nav class="py-3">
                    <a href="/lab-4/" class="text-white btn btn-primary" style="margin: 2rem;" role="button">
                        Notes Table
                    </a>
                    <a href="/lab-4/add-note" class="text-white btn btn-primary" role="button"> 
                        Add Notes
                    </a>
                </nav>
            </div>
            <div style="display: flex; flex-direction: row; flex-wrap: wrap;" class="px-5">
                {% for i in notes %}
                    <div class="card px-5 text-center border border-dark rounded" style="margin: 25px; width: 46%;">
                        <div class="pt-3">
                            <h4>{{ i.title }}</h5>
                        </div>
                        <hr style="color: black;">
                        <div class="mb-4">
                            <h5 class="card-text">{{ i.to }} </h5>
                            <h5 class="card-text">{{ i.From }}</h5>
                            <p class="card-text">{{ i.message }} </p>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </body>
</html>