<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Friend List</title>
  </head>
  <body>
    <h1>
      Friends List
    </h1>
    <hr>
    <table>
      <tr>
        <th>Name</th>
        <th>NPM</th>
        <th>Date of Birth</th>
      </tr>
      {% for friend in friends%}
          <div>
            <tr>
              <td>{{friend.name}}</td>
              <td>{{friend.npm}}</td>
              <td>{{friend.DOB}}</td>
            </tr>
          </div>
      {% endfor %}
    </table>
    <hr>
    <a href="/lab-3/add">
      <button type="button">Wanna Add More Friends?</button>
    </a>
  </body>
</html>
