<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fill The Form</title>
</head>

<body>
    <h2>ADD FRIENDS</h2>
    <hr>
    <form action="" method="POST">
        {% csrf_token %}   
        <tr>
            <td>Nama</td>
            <td><input name="name" required=True></td>
        </tr>
        <tr>
            <td>NPM</td>
            <td><input name="npm" required=True></td>
        </tr>
        <tr>
            <td>Tanggal Lahir</td>
            <td><input type="date" required=True name="DOB" value="{{m.DOB|date:" Y-m-d "}}"></td>
        </tr>
        <input type="submit">
    </form>
    
</body>

</html>