<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>This is Note page</title>
  </head>
  <body>
    <table>
      <tr>
        <th>To</th>
        <th>From</th>
        <th>Title</th>
        <th>Message</th>
      </tr>
      <!-- TODO loop from Note model -->
      {% for i in notes%}
          <div>
            <tr>
              <td>{{i.to}}</td>
              <td>{{i.From}}</td>
              <td>{{i.title}}</td>
              <td>{{i.message}}</td>
            </tr>
          </div>
      {% endfor %}
    </table>
  </body>
</html>